In [149]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge, LinearRegression, LogisticRegression

In [150]:
with open('in.dta.txt') as f_0, open('in.csv', 'w') as f_1:
    for line in f_0.readlines():
        processed_line = line.strip().replace('  -', ' -').replace('   ', ' ')
        f_1.write(processed_line + '\n')

In [151]:
with open('out.dta.txt') as f_0, open('out.csv', 'w') as f_1:
    for line in f_0.readlines():
        processed_line = line.strip().replace('  -', ' -').replace('   ', ' ')
        f_1.write(processed_line + '\n')

In [152]:
in_data = pd.read_csv('in.csv', sep=' ', dtype=np.float64, header=None, names=['x1', 'x2', 'y'])

In [153]:
out_data = pd.read_csv('out.csv', sep=' ', dtype=np.float64, header=None, names=['x1', 'x2', 'y'])

In [154]:
def non_linear_trasformation(data): 
    X = data[['x1', 'x2']]
    X['x1_sq'] = data['x1'] ** 2
    X['x2_sq'] = data['x2'] ** 2
    X['x1_x2'] = data['x1'] * data['x2']
    X['abs(x1-x2)'] = abs(data['x1'] - data['x2'])
    X['abs(x1+x2)'] = abs(data['x1'] + data['x2'])
    X['ones'] = 1
    return X[['ones', 'x1', 'x2', 'x1_sq', 'x2_sq', 'x1_x2', 'abs(x1-x2)', 'abs(x1+x2)']]

In [155]:
X_in = non_linear_trasformation(in_data)
Y_in = in_data['y']
X_out = non_linear_trasformation(out_data)
Y_out = out_data['y']
X_out

,ones,x1,x2,x1_sq,x2_sq,x1_x2,abs(x1-x2),abs(x1+x2)
0,1,-0.106006,-0.081467,0.011237,0.006637,0.008636,0.024539,0.187473
1,1,0.177930,-0.345951,0.031659,0.119682,-0.061555,0.523881,0.168022
2,1,0.102162,0.718258,0.010437,0.515895,0.073378,0.616097,0.820420
3,1,0.694078,0.623397,0.481745,0.388624,0.432687,0.070681,1.317476
4,1,0.023541,0.727432,0.000554,0.529158,0.017125,0.703891,0.750973
...,...,...,...,...,...,...,...,...
245,1,-0.437767,0.011653,0.191640,0.000136,-0.005101,0.449420,0.426114
246,1,-0.354830,0.819820,0.125904,0.672105,-0.290897,1.174650,0.464990
247,1,0.347045,-0.545084,0.120440,0.297116,-0.189168,0.892128,0.198039
248,1,0.836376,0.343831,0.699525,0.118220,0.287572,0.492545,1.180207
249,1,-0.713851,-0.640575,0.509583,0.410336,0.457275,0.073276,1.354426

In [156]:
model_log = LogisticRegression().fit(X_in, Y_in)

/home/dinaz/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [157]:
model_log.predict(X_in)

array([ 1.,  1., -1.,  1., -1.,  1., -1.,  1.,  1., -1., -1.,  1.,  1.,
       -1., -1.,  1., -1.,  1., -1.,  1., -1., -1.,  1.,  1., -1., -1.,
        1.,  1.,  1., -1.,  1., -1.,  1., -1.,  1.])

In [158]:
model_log.score(X_out, Y_out)

0.892

In [159]:
model_log = LogisticRegression(C=0.001).fit(X_in, Y_in)

/home/dinaz/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [160]:
model_log.predict(X_in)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1.])

In [161]:
model_log.score(X_out, Y_out)

0.528